.movie {
  background-size: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease-in-out;
  text-align: center;
}
.movie:hover {
  border-radius: 100%;
}
.movie:hover .movie__title,
.movie:hover .movie__genres {
  display: none;
}
.movie:hover .movie__year,
.movie:hover .movie__rating,
.movie:hover .movie__summary {
  display: block;
}

/* movie__data front */
.movie__title {
  font-size: 28px;
}
.movie__genres {
  font-size: 24px;
}

/* movie__data back*/
.movie__year {
  display: none;
  font-size: 44px;
}
.movie__rating {
  display: none;
  font-size: 60px;
  letter-spacing: 0px;
  color: var(--main-color);
}
.movie__summary {
  display: none;
  text-align: left;
}
