.navigation {
  padding: 8px 32px;
  font-size: 42px;
  display: flex;
  justify-content: space-between;
}
.navigations {
  display: none;
}
.navigation:hover .navigation__title {
  display: none;
}
.navigation:hover .navigations {
  display: block;
}

.navigation__home {
  margin-right: 16px;
}

.navigation a:hover {
  text-decoration: underline;
}

.navigation__dots {
  color: var(--main-color);
  font-size: 60px;
  letter-spacing: -20px;
}
